<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVX8-SKvFiShgIP-Z09dP2lPDr5wujckE</string>
	<key>GCM_SENDER_ID</key>
	<string>445455067202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>The-Paradigmers.GainsAndGrains</string>
	<key>PROJECT_ID</key>
	<string>gains--grains</string>
	<key>STORAGE_BUCKET</key>
	<string>gains--grains.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445455067202:ios:b2076e3a12dbcaac06e5db</string>
</dict>
</plist>